In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("df_analyse.csv")

In [3]:
df

,Unnamed: 0,NAICS,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,MIS_Status
0,0,451120,4,1.0,0,0,0,0,0
1,1,722410,2,1.0,0,0,0,0,0
2,2,621210,7,0.0,0,0,0,0,0
3,3,0,2,0.0,0,0,0,0,0
4,4,0,14,0.0,7,7,0,0,0
...,...,...,...,...,...,...,...,...,...
897989,897989,451120,6,0.0,0,0,0,0,0
897990,897990,451130,6,0.0,0,0,0,0,0
897991,897991,332321,26,0.0,0,0,0,0,0
897992,897992,0,6,0.0,0,0,0,0,1
897993,897993,0,1,1.0,0,0,0,0,0

In [4]:
df.columns

Index(['Unnamed: 0', 'NAICS', 'NoEmp', 'NewExist', 'CreateJob', 'RetainedJob',
       'FranchiseCode', 'UrbanRural', 'MIS_Status'],
      dtype='object')

In [5]:
df = df[['NAICS', 'NoEmp', 'NewExist', 'CreateJob', 'RetainedJob','FranchiseCode', 'UrbanRural', 'MIS_Status']]

In [6]:
df

,NAICS,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural,MIS_Status
0,451120,4,1.0,0,0,0,0,0
1,722410,2,1.0,0,0,0,0,0
2,621210,7,0.0,0,0,0,0,0
3,0,2,0.0,0,0,0,0,0
4,0,14,0.0,7,7,0,0,0
...,...,...,...,...,...,...,...,...
897989,451120,6,0.0,0,0,0,0,0
897990,451130,6,0.0,0,0,0,0,0
897991,332321,26,0.0,0,0,0,0,0
897992,0,6,0.0,0,0,0,0,1
897993,0,1,1.0,0,0,0,0,0