In [47]:
import pandas as pd

In [48]:
df = pd.read_csv("df_analyse.csv") # a remettre dans la partie nettoyage de données

In [49]:
df = df[['NAICS', 'NoEmp', 'NewExist', 'CreateJob', 'RetainedJob','FranchiseCode', 'UrbanRural', 'MIS_Status']] # premier essai

In [50]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Séparer les données en ensembles d'entraînement et de test
X = df.drop(columns=["MIS_Status"])
y = df["MIS_Status"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Encodage des variables catégorielles
encoder = LabelEncoder()
for col in X.columns:
    if X[col].dtype == 'object':
        X[col] = encoder.fit_transform(X[col])

# Entraînement du modèle
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

# Evaluation du modèle sur l'ensemble de test
accuracy = rf.score(X_test, y_test)
print("Accuracy: {:.2f}%".format(accuracy*100))

# Importance des variables
importances = rf.feature_importances_

Accuracy: 80.41%

In [51]:
rf.score(X_train,y_train)

0.8732326923210768

In [52]:
accuracy

0.8040690649725222

In [53]:
importances

array([0.62825031, 0.10313153, 0.00901964, 0.0795213 , 0.11259384,
       0.00553966, 0.06194373])

In [54]:

X 
# permet de voir ce qu'il y a dans X et de comparer avec importances afin de trouver les colonnes importantes

,NAICS,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,UrbanRural
0,451120,4,1.0,0,0,0,0
1,722410,2,1.0,0,0,0,0
2,621210,7,0.0,0,0,0,0
3,0,2,0.0,0,0,0,0
4,0,14,0.0,7,7,0,0
...,...,...,...,...,...,...,...
897989,451120,6,0.0,0,0,0,0
897990,451130,6,0.0,0,0,0,0
897991,332321,26,0.0,0,0,0,0
897992,0,6,0.0,0,0,0,0
897993,0,1,1.0,0,0,0,0

Il semblerait que le NAICS n'a pas besoin d'être transformer dans un randomclassifier , no emp est pas mal , NewExist , a que tres peu d'importance , Retained job est "prenable" , FranchiseCode ne semble pas être important , peut être une transformation avant l'aurait améliorer  , urbane rural ne rapporte pas beaucoup non plus

ON DOIT SE POSER LA QUESTION DE SAVOIR SI NOTRE ALGORITHME FAIT MIEUX QUE SI IL DIT NON/OUI A CHAQUE FOIS

In [55]:
""" (y.sum()/897944)*100 """    # transformer la target d'abord et la clean

' (y.sum()/897944)*100 '

DE CE PETIT CALCUL ON EN DEDUIT QUE environ 17,5 des entreprise ne rembourse pas , par consequent si notre algorithme doit faire mieux que dire oui a chaque fois , il doit obtenir un score de +82,5%

Une comparaison avec dummy est une bonne pratique

In [56]:
from sklearn.metrics import confusion_matrix

# Prédire les valeurs pour l'ensemble de test
y_pred = rf.predict(X_test)

# Obtenir la matrice de confusion
conf_matrix = confusion_matrix(y_test, y_pred)
print(conf_matrix)

[[139728   8338]
 [ 26851   4682]]

Faire un deuxième test pour savoir

In [57]:
df1 = pd.read_csv("SBAnational.csv") # pareil que plus haut

/tmp/ipykernel_73376/3594731389.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv("SBAnational.csv") # pareil que plus haut

In [58]:
df1["pme"] = df1["NoEmp"].apply(lambda x: 1 if x<2000 else 0)

In [59]:
""" df1.columns """

' df1.columns '

In [60]:
df1 = df1[[  'NAICS',   'RetainedJob', 'MIS_Status',"NoEmp","Term","UrbanRural","pme"]]

df1 = df1[[  'NAICS',   'RetainedJob', 'MIS_Status',"NoEmp","Term"]]

In [61]:
df1['MIS_Status'] = df1['MIS_Status'].apply(lambda x: 1 if x == 'CHGOFF' else 0)

In [62]:
df1 = df1.dropna()

In [63]:
df1.columns

Index(['NAICS', 'RetainedJob', 'MIS_Status', 'NoEmp', 'Term', 'UrbanRural',
       'pme'],
      dtype='object')

In [64]:
""" df1["RevLineCr"] = df1["RevLineCr"].apply(str) """  # dans la partie nettoyage

' df1["RevLineCr"] = df1["RevLineCr"].apply(str) '

In [65]:
""" zeta = 0
zoto = 0
for elt in df1["RevLineCr"]:
    if elt !='N' and elt != 'Y':
        zeta +=1
    else : zoto +=1 """

' zeta = 0\nzoto = 0\nfor elt in df1["RevLineCr"]:\n    if elt !=\'N\' and elt != \'Y\':\n        zeta +=1\n    else : zoto +=1 '

Comment virer les lignes ou Rev diff de N ou Y ?

In [66]:
#df2 = df1[df1["RevLineCr"].isin(["Y","N"])]

In [67]:
#df2["RevLineCr"].unique()

In [68]:
""" df2["RevLineCr"] =df2["RevLineCr"].replace("Y","1")
df2["RevLineCr"] = df2["RevLineCr"].replace("N","0") """

' df2["RevLineCr"] =df2["RevLineCr"].replace("Y","1")\ndf2["RevLineCr"] = df2["RevLineCr"].replace("N","0") '

In [69]:
#df2["RevLineCr"] = df2["RevLineCr"].apply(int)

In [70]:
#df1["LowDoc"].unique()

Fin du tri , a remettre dans la partie nettoyage

In [71]:
""" zeta = 0
zoto = 0
for elt in df1["LowDoc"]:
    if elt !='N' and elt != 'Y':
        zeta +=1
    else : zoto +=1 """

' zeta = 0\nzoto = 0\nfor elt in df1["LowDoc"]:\n    if elt !=\'N\' and elt != \'Y\':\n        zeta +=1\n    else : zoto +=1 '

In [72]:
#zeta

In [73]:
#df1 = df1[df1["LowDoc"].isin(["Y","N"])]

In [74]:
""" df1["LowDoc"] = df1["LowDoc"].replace("Y","1")
df1["LowDoc"]=df1["LowDoc"].replace("N","0")
df1["LowDoc"] = df1["LowDoc"].apply(int)
 """

' df1["LowDoc"] = df1["LowDoc"].replace("Y","1")\ndf1["LowDoc"]=df1["LowDoc"].replace("N","0")\ndf1["LowDoc"] = df1["LowDoc"].apply(int)\n '

In [75]:
#df1["LowDoc"] a mettre dans la partie nettoyage

In [76]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

# Séparer les données en ensembles d'entraînement et de test
X = df1.drop(columns=["MIS_Status"])
y = df1["MIS_Status"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,stratify = y)

# Encodage des variables catégorielles
encoder = LabelEncoder()
for col in X.columns:
    if X[col].dtype == 'object':
        X[col] = encoder.fit_transform(X[col])

# Entraînement du modèle
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

# Evaluation du modèle sur l'ensemble de test
accuracy = rf.score(X_test, y_test)
print("Accuracy: {:.2f}%".format(accuracy*100))

# Importance des variables
importances = rf.feature_importances_

Accuracy: 91.49%

In [77]:
y

0         0
1         0
2         0
3         0
4         0
         ..
899159    0
899160    0
899161    0
899162    1
899163    0
Name: MIS_Status, Length: 899164, dtype: int64

In [78]:
X

         NAICS  RetainedJob  NoEmp  Term  UrbanRural  pme
0       451120            0      4    84           0    1
1       722410            0      2    60           0    1
2       621210            0      7   180           0    1
3            0            0      2    60           0    1
4            0            7     14   240           0    1
...        ...          ...    ...   ...         ...  ...
899159  451120            0      6    60           0    1
899160  451130            0      6    60           0    1
899161  332321            0     26   108           0    1
899162       0            0      6    60           0    1
899163       0            0      1    48           0    1

[899164 rows x 6 columns]

In [79]:
importances

array([1.84625631e-01, 4.74838808e-02, 5.55945481e-02, 6.81718966e-01,
       3.05571859e-02, 1.97884742e-05])

In [80]:
rf.score(X_train,y_train)

0.9773636893168791

In [81]:
X

         NAICS  RetainedJob  NoEmp  Term  UrbanRural  pme
0       451120            0      4    84           0    1
1       722410            0      2    60           0    1
2       621210            0      7   180           0    1
3            0            0      2    60           0    1
4            0            7     14   240           0    1
...        ...          ...    ...   ...         ...  ...
899159  451120            0      6    60           0    1
899160  451130            0      6    60           0    1
899161  332321            0     26   108           0    1
899162       0            0      6    60           0    1
899163       0            0      1    48           0    1

[899164 rows x 6 columns]

In [82]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

# Define the preprocessor 
preprocessor = make_column_transformer(
    (StandardScaler(), X.select_dtypes(include='number').columns),
    (OneHotEncoder(), X.select_dtypes(include='object').columns),
)

# Fit the preprocessor on the train data
X_train = preprocessor.fit_transform(X_train)

# Apply the preprocessor on the test data
X_test = preprocessor.transform(X_test)

# Training the model
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

# Evaluation du modèle sur l'ensemble de test
accuracy = rf.score(X_test, y_test)
print("Accuracy: {:.2f}%".format(accuracy*100))

# Importance des variables
importances = rf.feature_importances_

Accuracy: 91.47%

In [83]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

# Prepare the data 
X = df1.drop(columns=["MIS_Status"])
y = df1["MIS_Status"]

# Define the preprocessor 
preprocessor = make_column_transformer(
    (StandardScaler(), X.select_dtypes(include='number').columns),
    (OneHotEncoder(), X.select_dtypes(include='object').columns),
)

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y)

# Fit the preprocessor on the train data
X_train = preprocessor.fit_transform(X_train)

# Apply the preprocessor on the test data
X_test = preprocessor.transform(X_test)

# Training the model
rf = RandomForestClassifier()
rf.fit(X_train, y_train)

# Evaluation of the model on the test set
accuracy = rf.score(X_test, y_test)
print("Accuracy: {:.2f}%".format(accuracy*100))

# Importance of variables
importances = rf.feature_importances_

Accuracy: 91.56%

In [84]:
from sklearn.metrics import f1_score

# Make predictions on the test set
y_pred = rf.predict(X_test)

# Calculate the F1 score
f1 = f1_score(y_test, y_pred)
print("F1 score: {:.2f}".format(f1))

F1 score: 0.75

In [85]:
from sklearn.metrics import classification_report

# Make predictions on the test set
y_pred = rf.predict(X_test)

# Generate the classification report
(classification_report(y_test, y_pred))

'              precision    recall  f1-score   support\n\n           0       0.94      0.96      0.95    148321\n           1       0.78      0.72      0.75     31512\n\n    accuracy                           0.92    179833\n   macro avg       0.86      0.84      0.85    179833\nweighted avg       0.91      0.92      0.91    179833\n'

In [86]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.96      0.95    148321
           1       0.78      0.72      0.75     31512

    accuracy                           0.92    179833
   macro avg       0.86      0.84      0.85    179833
weighted avg       0.91      0.92      0.91    179833

 ON en deduit que notre modèle était correct même en rajoutant statify par exemple